@import "tailwindcss";

@theme {
    --color-base-red: #cf1e11;
    --color-base-text: #FFF;
    --color-base-background: #080808;
    --color-base-background-divs: #0f0f0f;
    
    --font-nunito: "Nunito", sans-serif;
}

body {
    @apply bg-base-background font-nunito text-base-text
}